{% extends "base.html" %}

{% block bodyclass %}menu_chapter{% endblock %}

{% block title %}{{ chapter["display_name"] }}{% endblock %}

{% block body %}
<div id="container">
  <div id="menu_chapter" style="display:inline-block, width=70%;">
    <ul>
      {% for sequential in chapter["descendants"] %}
        {% if sequential["descendants"]|length > 0 %}
          <li><a href="{{ rooturl }}/course/{{ chapter["folder_id"] }}/{{ sequential["folder_id"] }}/{{ sequential["descendants"][0]["folder_id"] }}/index.html" >{{ sequential["display_name"] }} </a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}

