{% extends "base.html" %}

{% block addcss %} <link href="{{ rooturl }}/static/css/thread.css" rel="stylesheet" type="text/css" /> {% endblock %}

{% block bodyclass %}forum container{% endblock %}

{% block title %} Forum {% endblock %}

{% block body %}
<div class="row">
  <h3> Topics : </h3>
  <div class="col-md-8">
  {% for cat in category %}
    {% if "sub_cat" in category[cat] %}
      <h4> {{ category[cat]["name"] }} : </h4>
          {% for sub_cat in category[cat]["sub_cat"] %}
            <p class="question">    <a href="{{ sub_cat["data-discussion-id"] }}/index.html">{{ sub_cat["title"] }}</a></p>
          {% endfor %}
    {% else %}
        <p class="question"><a href="{{ cat }}/index.html">{{ category[cat]["title"] }}</a></p>
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endblock %}
