{% extends "base.html" %}

{% block bodyclass %}forum{% endblock %}

{% block title %} Forum {% endblock %}

{% block body %}
  <ul>
  {% for cat in category %}
    {% if "sub_cat" in category[cat] %}
      <li> {{ category[cat]["name"] }}
        <ul>
          {% for sub_cat in category[cat]["sub_cat"] %}
            <li><a href="{{ sub_cat["data-discussion-id"]  }}/index.html"> {{ sub_cat["title"] }}</a></li> 
          {% endfor %}
        </ul>
      </li>
    {% else %}
        <li><a href="{{ cat }}/index.html"> {{ category[cat]["title"] }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endblock %}
