<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
  {% for chapter in all_data["descendants"] %}
    <a href="{{ rooturl }}/course/{{ chapter["folder_id"] }}/index.html" >{{ chapter["display_name"] }}</a></br>
      {% for sequential in chapter["descendants"] %}
        {% if sequential["descendants"]|length > 0 %}
          <a href="{{ rooturl }}/course/{{ chapter["folder_id"] }}/{{ sequential["folder_id"] }}/{{ sequential["descendants"][0]["folder_id"] }}/index.html" >&nbsp;&nbsp;{{ sequential["display_name"] }}</a></br>
        {% endif %}
      {% endfor %}
    {% endfor %}
</div>
