<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Menu</h3>
  </div>
  <ul class="list-unstyled components">
    {% for chapter in all_data["descendants"] %}
      {% if chapter["descendants"]|length > 0 %}
        <li>
          {% if sidenav_chapter and chapter["folder_id"] == sidenav_chapter %}
            <a href="#{{ chapter["block_id"] }}" data-toggle="collapse" class=".in" aria-expanded="true">{{ chapter["display_name"] }}</a>
            <ul class="collapse list-unstyled in" id="{{ chapter["block_id"] }}" aria-expanded="true">

          {%else%}
            <a href="#{{ chapter["block_id"] }}" data-toggle="collapse" aria-expanded="false">{{ chapter["display_name"] }}</a>
            <ul class="collapse list-unstyled" id="{{ chapter["block_id"] }}">
          {%endif%}
          {% for sequential in chapter["descendants"] %}
            {% if sequential["descendants"]|length > 0 %}
              {% if sidenav_sequential and sequential["folder_id"] == sidenav_sequential %}
                <li style="background-color:#ddd;"><a style="color:black;" href="{{ rooturl }}/course/{{ chapter["folder_id"] }}/{{ sequential["folder_id"] }}/{{ sequential["descendants"][0]["folder_id"] }}/index.html" >{{ sequential["display_name"] }}</a></li>
              {% else %}
                <li><a href="{{ rooturl }}/course/{{ chapter["folder_id"] }}/{{ sequential["folder_id"] }}/{{ sequential["descendants"][0]["folder_id"] }}/index.html" >{{ sequential["display_name"] }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href="{{ rooturl }}/course/{{ chapter["folder_id"] }}/index.html" >{{ chapter["display_name"] }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
