<div class="post" >
  <div class="post-container">
    <div class="reputation">
      {% if post["votes"]["up_count"] >= 0 %}
        <div class="score">
          <p><i class="glyphicon glyphicon-triangle-top"></i></p>
          <p>{{ post["votes"]["point"] }}</p>
        </div>
      {% else %}
        <div class="score">
          <p><i class="glyphicon glyphicon-triangle-bottom"></i></p>
          <p>{{ post["votes"]["point"] }}</p>
        </div>
      {% endif %}
    </div>
    <div class="body">
      <p>{{ post["body"] | markdown }}</p>
    </div>
    <div class="author">
      <p> {{ post["username"] }} </p>
      <p>Posted <span class="date" title="{{ post["created_at"] | remove_newline }}">{{ post["created_at"] | remove_newline }}</span></p>
    </div>
  </div>
    {% if post["children"] %}
      <div class="comments">
        {% for comment in post["children"] %}
          <div class="comment">
            <p>
              <span class="text">{{ comment["body"] | markdown }}</span> – {{ comment["username"] }} – <span class="date" title="{{ comment["created_at"] | remove_newline }}">{{ comment["created_at"] | remove_newline }}</span>
              </p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
</div>
