{% extends "base.html" %}

{% block bodyclass %}vertical{% endblock %}

{% block title %}{{ vertical["display_name"] }}{% endblock %}

{% block body %}
  <div id="container">
    <div id="vertical-of-sequential" class="btn-group" role="group" aria-label="...">
      {% if pred_seq %}
        <a href="{{ rooturl }}/{{ pred_seq["url"] }}/index.html" title="{{ pred_seq["title"] }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></button></a>
      {% endif %}
      {% for verti in sequential %}
        {% if verti["my_id"] != vertical["folder_id"] %} 
          <a href="{{ rooturl }}/{{ verti["url"] }}/index.html" title="{{ verti["title"] }}"><button type="button" class="btn btn-default"><span class="{{ verti["type_icon"] }}" aria-hidden="true"></button></span></a>
        {% else %}
          <a href="{{ rooturl }}/{{ verti["url"] }}/index.html" title="{{ verti["title"] }}"><button type="button" class="btn btn-default" style="border-bottom: 3px solid #0075b4;"><span class="{{ verti["type_icon"] }}" aria-hidden="true"></button></span></a>

        {% endif %}
      {% endfor %}
      {% if next_seq %}
        <a href="{{ rooturl }}/{{ next_seq["url"] }}/index.html" title="{{ next_seq["title"] }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></button></a>
      {% endif %}
    </div>
    <div id="vertical">
      {% for elem  in vertical["descendants"] %}
        {% if elem["type"] == "html"%}
          {{ elem["html_content"] }}
        {% endif %}
        {% if elem["type"] == "discussion" %}
          {% if elem["discussion"]["discussion_data"] != [] %}
            <h1> Discussions </h1>
            {% for thread in elem["discussion"]["discussion_data"] %}
                <a href="{{ rooturl}}/forum/{{ thread["commentable_id"] }}/{{ thread["id"] }}/index.html">{{ thread["title"] }} by {{ thread["username"] }}</a><br/>
            {% endfor %}
          {% endif %}
        {% endif %}
        {% if elem["type"] == "problem" %}
          <div id="{{ elem["problem_id"] }}">
            {{ elem["html_content"] }}
          </div>
          {% if elem["answers"] %}
            <script>
              function check_answers_of_{{ elem["problem_id"] }}(){
                valid_answers=[ {% for ans in elem["answers"] %}"{{ ans }}", {% endfor %} ];
                inputs = document.getElementById("{{ elem["problem_id"] }}").getElementsByTagName('input');
                for (index = 0; index < inputs.length; ++index) {
                      inputs[index].parentNode.classList.remove("show_answers_right");
                      inputs[index].parentNode.classList.remove("show_answers_false");
                }
                var not_available = document.createElement("span");
                not_available.classList.add("glyphicon");
                not_available.classList.add("glyphicon-question-sign");
                not_available.title="This answers can't be check";

                for (index = 0; index < inputs.length; ++index) {
                  if(inputs[index].getAttribute('type') == 'checkbox'){
                    if(inputs[index].checked){
                      console.log(inputs[index].id);
                      if (valid_answers.indexOf(inputs[index].id) > -1){
                        inputs[index].parentNode.classList.add("show_answers_right");
                      }else{
                        inputs[index].parentNode.classList.add("show_answers_false");
                      }
                    }
                  }else{
                    inputs[index].parentNode.appendChild(not_available);
                  }
                }
              }

              function show_answers_of_{{ elem["problem_id"] }}(){
                inputs = document.getElementById("{{ elem["problem_id"] }}").getElementsByTagName('input');
                for (index = 0; index < inputs.length; ++index) {
                      inputs[index].parentNode.classList.remove("show_answers_right");
                      inputs[index].parentNode.classList.remove("show_answers_false");
                }
              {% for ans in elem["answers"] %}
                try{
                  document.getElementById("{{ ans }}").parentNode.className += " show_answers_right";
                } catch(e) {}
              {% endfor %}
              {% for ans in elem["explanation"] %}
                  document.getElementById("{{ ans["name"] }}").parentNode.style.display= "block";
                  document.getElementById("{{ ans["name"] }}").innerHTML= {{ ans["value"] }};
              {% endfor %}
              }
            </script>
            <button onclick="check_answers_of_{{ elem["problem_id"] }}()">Check answers</button> 
            <button onclick="show_answers_of_{{ elem["problem_id"] }}()">Show answers and explanation</button> 
          {% else %}
            </br>
            <p> Sorry, we haven't answers</p>
          {% endif %}
        {% endif %}
        {% if elem["type"] == "video" %}
          {% if "html_content" not in elem %}
            <video class="video-js vjs-default-skin" controls preload="auto" width="480px" height="270px" data-setup='{"autoplay": true, "preload": "true"}' >
              <source src="{{ elem["folder_id"] }}/video.webm" type="video/webm" />
              {% for language in elem["transcripts_file"] %}
                <track kind="subtitles" src="{{ language["file"] }}" srclang="{{ language["code"] }}" label="{{ language["code"] }}" />
              {% endfor %}
            </video>
          {% else %}
            {{ elem["html_content"] }}
          {% endif %}
        {% endif %}
        <hr>
      {% endfor %}
    </div>
  </div>
{% endblock %}
