beautifulsoup4==4.9.1
lxml==4.5.1
webvtt-py==0.4.5
python-slugify==4.0.0
Jinja2==2.11.2
mistune==2.0.0a4
requests>=2.24,<3.0
iso-639==0.4.5
zimscraperlib>=1.1.2,<1.2
python-magic==0.4.18
kiwixstorage>=0.2,<1.0
pif==0.8.2
# youtube-dl should be updated as frequently as possible
youtube_dl
