{% extends "base.html" %}

{% block bodyclass %}menu_chapter{% endblock %}

{% block title %}{{ course.display_name }}{% endblock %}

{% block body %}
{% include "side_menu.html" %}
{#
<div class="list_course">
  <ul>
    {% for chapter in course.descendants %}
      <li>
        <a href="{{ rooturl }}{{ chapter.path }}/index.html" >{{ chapter.display_name }}</a>
        {% if chapter.descendants|length > 0 %}
            <ul>
            {% for sequential in chapter.descendants %}
              <li>
                <p> {{ sequential.display_name }} </p>
                {% if sequential.descendants|length > 0 %}
                  <ul>
                  {% for vertical in sequential.descendants %}
                    <li><a  href="{{ rooturl }}{{ vertical.path }}/index.html" >{{ vertical.display_name }}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
#}
{% endblock %}

