#top {
  height:10%;
  display:block;
  width:100%
  text-align: center;
  color: inherit;
  padding:3%;
}
#vertical-of-sequential {
  display:inline-block;
  margin: 0 auto;
}

#menu {
  display:inline-block;
  margin-right:5%;
  float:left;
}

.show_answers_false{
  border-style: solid;
  border-width: 5px;
  border-color: red;
  border-radius: 5px;
}

.show_answers_right{
  border-style: solid;
  border-width: 5px;
  border-color: green;
  border-radius: 5px;
}

.solution-span{
  display: none;
  border-color: black;
  border-style: dotted;
  padding: 1%;
}


#elemtopbar {
  display: inline-block;
	border: 2px solid black;
	border-radius: 5px;
	margin: 2%;
}
