@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
     url('fonts/opensans/opensans.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('fonts/opensans/opensans.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  transition: all 0.5s ease 0s;
}

html{
  min-height:100%;
  height:100%;
  background-color : #f0f0f0;
}

body{
  min-height:100%;
  height:100%;
  margin:0;
  font-size:1em;
  font-style:normal;
  line-height:1em;
  /* color:#5d5e70 */
  max-width:100%
  background-color : #f0f0f0;

}
html, body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1em;
}
body, h1, h2, h3, h4, h5, h6, p, label {
    text-align: left;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

body a:link, body a:visited {
    line-height: 1.4em;
    color: #1ca3a6;
}
body a:link, body a:visited {
    line-height: 1.4em;
    color: #1ca3a6;
}
a, a:visited {
    color: #1ca3a6;
    font: inherit;
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}
a {
    text-decoration: none;
    color: #4a90e2;
}
a {
    color: #005584;
}
a, a:visited {
    color: #1ca3a6;
    font: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}
a {
    text-decoration: none;
    color: #4a90e2;
}
a {
    color: #005584;
}
.zim-content-wrapper{
  flex:1;
  border:none;
  width:100%;
  margin:0 auto;
  transition: all 0.5s ease 0s;

}

nav ul, nav ol {
    list-style: none;
        list-style-image: none;
    list-style-image: none;
    margin: 0;
        margin-left: 0px;
    padding: 0;
}

span {
      font: inherit;
                    font-weight: inherit;
                            font-size: inherit;
                                    line-height: inherit;
                                            font-family: inherit;
                                                color: inherit;
}
p {
    color: inherit;
    margin: 0;
}
nav ul, nav ol {
    list-style: none;
        list-style-image: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

h1 {
    color: #3c3c3c;
    font: normal 2em/1.4em "Droid Arabic Naskh","Open Sans",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        font-family: "Droid Arabic Naskh", "Open Sans", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    color: #646464;
    font: normal 1.2em/1.2em Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 15px;
}
video, input {
  max-width:100%;
}
table {
    table-layout: fixed;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.wrapper-course-materiel, .wrapper-preview-menu{
  padding:0;
  box-sizing:border-box;
  border-bottom:none;
margin: 0 auto 0;
  width:100%;
}
.zim-course-material, .preview-menu{
width: auto;
padding: 15px 2%;
margin: 0 auto;
max-width: 1180px;
width: 100%;
overflow: auto;
}

.zim-wrapper-course-material .zim-course-material .zim-course-tabs {
      padding: 0;
}

.zim-wrapper-course-material ol.zim-course-tabs {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
/*    margin-left: 10px;*/
    padding: 15px 0 15px 0;
}

ol.zim-course-tabs li {
  float: left;
  list-style: none;
  margin-right: 6px;
}


ol.zim-course-tabs li a.zim-active {
    background-color: rgba(0,0,0,0.4);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.25));
    background-color: transparent;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5),0 1px 1px rgba(0,0,0,0.3) inset;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}
ol.zim-course-tabs li a {
    border-radius: 3px;
    color: #555;
    display: block;
    text-align: center;
    padding: 10px 13px 12px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.sr {
    background: #fff;
    color: #000;
}
.sr, .nav-contents, .nav-skip, .view-teams .page-header-search .search-label {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sr {
    background: #fff;
    color: #000;
}


.zim-container {
    max-width: none;
    min-width: initial;
    width: auto;
    padding: 0 2%;
    box-sizing: border-box;
    margin: 0 auto 0;
    background-color: #f0f0f0;
}

div.zim-course-wrapper {
    position: relative;
}

.zim-container > div {
    table-layout: fixed;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #aaa;
/*
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
*/
}
.zim-course-index {
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    border-right: 1px solid #c8c8c8;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    display: table-cell;
}

.zim-course-index .zim-accordion .zim-course-navigation .zim-button-chapter {
    transition: all 3s ease-in-out;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.5);
    background-image: linear-gradient(to bottom,rgba(255,255,255,0.5),rgba(255,255,255,0));
    transition: background-color 0.1s linear 0s;
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: 0 1px 0 #fff inset,0 -1px 0 rgba(0,0,0,0.1) inset;
    background-color: #f6f6f6;
    color: #1ca3a6;
    cursor:pointer;
}

.zim-course-index .zim-accordion .zim-course-navigation .zim-chapter-content-container .zim-chapter-menu .zim-menu-item {
      margin: 4px 0;
      background: inherit;
      font-weight:600;

}
.zim-course-index .zim-accordion .zim-course-navigation .zim-button-chapter .zim-group-heading {
    position: relative;
    display: block;
    padding: 15px 0;
        padding-right: 0px;
        padding-left: 0px;
    padding-left: 40px;
    padding-right: 20px;
    text-align: left;
}

.zim-course-index .zim-accordion .zim-course-navigation .zim-button-chapter .zim-group-heading .icon {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 0.875em;
    color: #c8c8c8;
}

.zim-course-index .zim-accordion .zim-course-navigation .zim-chapter-content-container {
      background: #fff;
}

.zim-course-index .zim-accordion .zim-course-navigation .zim-chapter-content-container .zim-chapter-menu {
/*    display: none;*/
    padding: 0 14px;
    overflow: hidden;
}
.zim-course-index .zim-accordion .zim-course-navigation .zim-chapter-content-container .zim-chapter-menu .zim-menu-item {
    margin: 4px 0;
    background: inherit;
}
.zim-course-index .zim-accordion .zim-course-navigation .zim-chapter-content-container .zim-chapter-menu .zim-menu-item a {
    position: relative;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #3c3c3c;
}
.zim-course-index .zim-accordion .zim-course-navigation .zim-chapter-content-container .zim-chapter-menu .zim-menu-item.zim-active a {
    background: #e3e3e3;
}
.btn-link, .proctored_exam_status .exam-timer .exam-button-turn-in-exam, .zim-course-index .accordion .zim-course-navigation .zim-chapter-content-container .zim-chapter-menu .zim-menu-item a {
    font-size: 14px;
    line-height: 20.72px;
}
div.zim-course-wrapper section.zim-course-content {
    padding: 40px 3%;
    line-height: 1.6;
}
.content, div.zim-course-wrapper section.zim-course-content, div.zim-info-wrapper section.zim-updates, div.zim-book-wrapper .zim-book, .profile-wrapper .course-info, div.gradebook-wrapper section.gradebook-content, .view-student-notes .wrapper-student-notes .student-notes, .instructor-dashboard-wrapper section.instructor-dashboard-content, .instructor-dashboard-content-2 {
    box-sizing: border-box;
    display: table-cell;
    padding: 2em 2.5em;
    vertical-align: top;
    width: 76.27119%;
}
.zim-course-content {
    margin-top: 30px;
    max-width:100%;
}
div.zim-course-wrapper section.zim-course-content .xblock {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
div.zim-course-wrapper section.zim-course-content {
    line-height: 1.6;
}


.xmodule_display.xmodule_SequenceModule .zim-sequence-nav {
    margin: -4px 0 30px;
    position: relative;
    border-bottom: none;
    z-index: 0;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav-button.disabled {
    cursor: normal;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav-button.button-previous {
    border-top-left-radius: 35px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 35px;
    left: 0;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav-button {
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    position: absolute;
    display: block;
    top: 0;
    width: 40px;
    height: 46px;
    padding: 0;
}
.nav-utilities, .xmodule_display.xmodule_CourseModule .zim-sequence-nav-button, .xmodule_display.xmodule_VideoModule .a11y-menu-container .a11y-menu-list, .xmodule_display.xmodule_VideoModule .video .video-pre-roll, .xmodule_display.xmodule_SequenceModule .zim-sequence-nav-button, .modal-backdrop {
    z-index: 1000;
}
.light-button:disabled, div.history-controls input[type="submit"]:disabled, a.light-button:disabled, .gray-button:disabled, body .xmodule_display.xmodule_CapaModule div.problem .action .save:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled, .button:disabled, .xmodule_display.xmodule_LTIModule div.lti .wrapper-lti-link .lti-link .link_lti_new_window:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="submit"]:disabled, input[type="submit"].is-disabled, input[type="submit"].disabled, input[type="button"]:disabled, input[type="button"].is-disabled, input[type="button"].disabled, button:disabled, button.is-disabled, button.disabled, .button:disabled, .button.is-disabled, .button.disabled {
    /*pointer-events: none;*/
    opacity: 0.5;
    cursor: not-allowed;
}
input[type="submit"]:disabled, input[type="button"]:disabled, button:disabled, .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
button[disabled], input[disabled] {
    cursor: default;
}
.light-button, div.history-controls input[type="submit"], a.light-button, .gray-button, body .xmodule_display.xmodule_CapaModule div.problem .action .save, input[type="reset"], input[type="submit"], input[type="button"], button:not(.vjs-control):not(.vjs-button):not(.vjs-big-play-button), .button, form input[type="reset"], form input[type="submit"], form input[type="button"], form button, form .button, .xmodule_display.xmodule_LTIModule div.lti .wrapper-lti-link .lti-link .link_lti_new_window {
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #f1f1f1;
    background-image: linear-gradient(#f1f1f1,#d5d5d5);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fbfbfb;
    background-clip: padding-box;
    border: 1px solid #d2c9c9;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #f1f1f1;
    background-image: linear-gradient(#f1f1f1,#d9d1d1);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fcfbfb;
    background-clip: padding-box;
    font-size: 0.8125em;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav .zim-sequence-list-wrapper {
    background-color: #ddd;
    background-image: linear-gradient(to bottom,#ddd,#eee);
    position: relative;
    border: 1px solid #c8c8c8;
    height: 44px;
    margin: 0 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
}

.current_vertical{
  border-bottom-color: #1ca3a6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}


.help-tab, .xmodule_display.xmodule_CourseModule .zim-sequence-nav .zim-sequence-list-wrapper, .xmodule_display.xmodule_CourseModule .zim-sequence-nav ol li a p, .xmodule_display.xmodule_SequenceModule .zim-sequence-nav .zim-sequence-list-wrapper, .xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol li a p, div.timer-main, .view-teams .team-profile .page-content-secondary .member-profile p {
    z-index: 100;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: table;
    height: 100%;
    margin: 0;
/*    padding: 0 10px;*/
    width: 100%;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol li {
    display: table-cell;
    min-width: 20px;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol li a.zim-active {
    background-color: #fff;
}
.xmodule_display.xmodule_CourseModule .zim-sequence-nav ol li a.zim-active, .xmodule_display.xmodule_CapaModule div.problem .CodeMirror pre.CodeMirror-cursor, .xmodule_display.xmodule_VideoModule .video .video-wrapper .video-controls .secondary-controls .menu-container .menu, .xmodule_display.xmodule_VideoModule .video .video-wrapper .video-controls .secondary-controls .volume .volume-slider-container, .xmodule_display.xmodule_ConditionalModule div.problem .CodeMirror pre.CodeMirror-cursor, .xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol li a.zim-active, .edx-notes-wrapper .annotator-editor .annotator-controls, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .wrapper-tabs {
    z-index: 10;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol li a {
    transition: none;
    width: 100%;
    height: 42px;
    margin: 0;
    background-position: center 14px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    display: block;
    padding: 0;
    position: relative;
    text-align: center;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol li a .icon {
    line-height: 42px;
    font-size: 90%;
    color: #0a0a0a;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol li a p {
    background: #333;
    color: #fff;
    line-height: 1.41575em;
    right: 0;
    opacity: 0.0;
    padding: 6px;
    position: absolute;
    top: 48px;
    text-shadow: 0 -1px 0 #222544;
    transition: all 0.1s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    white-space: pre;
    visibility: hidden;
    pointer-events: none;
}
.help-tab, .xmodule_display.xmodule_CourseModule .zim-sequence-nav .zim-sequence-list-wrapper, .xmodule_display.xmodule_CourseModule .zim-sequence-nav ol li a p, .xmodule_display.xmodule_SequenceModule .zim-sequence-nav .zim-sequence-list-wrapper, .xmodule_display.xmodule_SequenceModule .zim-sequence-nav ol li a p, div.timer-main, .view-teams .team-profile .page-content-secondary .member-profile p {
    z-index: 100;
}
/*
div.zim-course-wrapper section.zim-course-content p {
    margin-bottom: 1.41575em;
}*/
.left-shadow {
    background-color: rgba(0,0,0,0.2);
    background-image: linear-gradient(to right,rgba(0,0,0,0.2),transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 46px;
    background-color: transparent;
    pointer-events: none;
}
.right-shadow {
    background-color: rgba(0,0,0,0.2);
    background-image: linear-gradient(to left,rgba(0,0,0,0.2),transparent);
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 46px;
    background-color: transparent;
    pointer-events: none;
}
.xmodule_display.xmodule_SequenceModule .zim-sequence-nav-button.button-next {
    border-top-left-radius: 0;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 0;
    right: 0;
}
div.zim-course-wrapper section.zim-course-content .vert-mod {
    padding: 0;
    margin: 0;
    line-height: 1.4;
    list-style: none;
}
div.zim-course-wrapper section.zim-course-content .vert-mod > div:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
div.zim-course-wrapper section.zim-course-content .vert-mod .vert > .xblock-student_view {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 0 0 15px;
}
.video-wrapper {
    height: 270px;
}
.content-wrapper .course-license, .content-wrapper .xblock-license {
    text-align: right;
    display: block;
    width: auto;
    padding: 5px 0;
    color: #5e5e5e;
}
.xmodule_display.xmodule_SequenceModule nav.zim-sequence-bottom {
    position: relative;
    width: 79px;
    height: 1px;
    margin: 2.8315em auto;
    text-align: center;
}
nav.zim-sequence-bottom {
    position: relative;
    width: 79px;
    height: 1px;
    margin: 2.8315em auto;
    text-align: center;
}

.zim-window-wrap {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-color:#f0f0f0;
}
body.view-in-course .zim-info-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
div.zim-info-wrapper section.zim-updates {
    line-height: 1.41575em;
}
div.zim-info-wrapper section.zim-updates > ol, div.zim-info-wrapper section.zim-updates section {
    list-style: none;
    margin-bottom: 1.41575em;
    padding-left: 30px;
}
div.zim-info-wrapper section.zim-updates > ol > li, div.zim-info-wrapper section.zim-updates > ol article, div.zim-info-wrapper section.zim-updates section > li, div.zim-info-wrapper section.zim-updates section article {
    border-bottom: 1px solid rgba(177,177,177,0.32);
    list-style-type: none;
    margin-bottom: 2.12363em;
    padding-bottom: 1.06181em;
}
div.zim-info-wrapper section.handouts {
    padding: 20px 30px;
    padding-left: 30px;
    margin: 0;
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #ddd;
    box-shadow: none;
    font-size: 14px;
}
.sidebar, div#wiki_panel, div.zim-info-wrapper section.handouts, div.zim-book-wrapper section.zim-book-sidebar, .profile-wrapper .user-info {
    box-sizing: border-box;
    display: table-cell;
    font-family: "Droid Arabic Naskh","Open Sans",sans-serif;
    font-size: 14px;
    position: relative;
    vertical-align: top;
    width: 23.72881%;
    background: #f6f6f6;
}
.treeview, .treeview ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

div.zim-info-wrapper section.zim-updates > ol > li h2, div.zim-info-wrapper section.zim-updates > ol article h2, div.zim-info-wrapper section.zim-updates section > li h2, div.zim-info-wrapper section.zim-updates section article h2 {
    font-size: 0.875em;
    font-weight: bold;
    padding-left: 20px;
}

.zim-topmobilebar{
    display:none;
    background-color:#f0f0f0;
}

.dragdrop-item {
    display: inline-block;
    width: auto;
    min-width: 4em;
    max-width: 30%;
    border: 1px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
    background-color: #1d5280;
    font-size: 14px;
    color: #fff;
    opacity: 1;
    outline-color: #fff;
    outline-style: none;
    z-index: 10 !important;
}
.target-img {
    display: table-cell;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.problem-progress {
    display: inline-block;
    color: #5e5e5e;
    font-size: 0.875em;
    margin-bottom: 0.5em;
}



.wiki-wrapper section.wiki .main-article {
    float: left;
    width: 74.57627%;
    padding: 40px 0 40px 40px;
    color: #313131;
    box-sizing: border-box;
}
.wiki-wrapper section.wiki.view .main-article h3 {
/*    margin-top: 40px;*/
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.25em;
}
.wiki-wrapper section.wiki .entry-title {
    padding-bottom: 8px;
    margin-bottom: 22px;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.6em;
    font-weight: bold;
    color: #313131;
    text-transform: none;
    letter-spacing: 0;
}
.wiki-wrapper section.wiki .main-article {
    color: #313131;
}
.wiki-wrapper section.wiki .article-functions {
    float: left;
    width: 23.72881%;
/*    padding: 40px 40px;*/
    padding:47.5px 0px 0px 40px;
    box-sizing: border-box;
}
.wiki-wrapper section.wiki .article-functions .timestamp {
    margin-top: 15px;
    padding: 15px 0 0 10px;
    border-top: 1px solid #ddd;
}
.wiki-wrapper section.wiki .article-functions .see-children {
    padding: 15px 0 0;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}
.wiki-wrapper section.wiki .table.table-striped {
    width: 100%;
    margin-top: 20px;
}
.wiki-wrapper section.wiki .table.table-striped th, .wiki-wrapper section.wiki .table.table-striped td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
}
.wiki-wrapper section.wiki .table.table-striped tr:nth-child(2n) {
    background: #f8f8f8;
}
.page-content-container {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    max-width: 1920px;
    margin: 0 auto;
}
.page-content {
    padding: 40px;
}
.page-content {
    display: flex;
}
.discussion-body, .discussion-module {
    display: flex;
}
.discussion-body, .discussion-module {
    width: 100%;
    border: none;
    background: transparent;
    box-shadow: none;
}
.forum-nav {
    max-width: 300px;
    width: 25%;
}
.forum-nav-browse-menu-wrapper {
    border-bottom: 1px solid #d9d9d9;
    background: #e7e7e7;
}
.forum-nav-browse-menu {
    padding-left: 0;
    margin: 0;
    font-size: 14px;
    overflow-y: scroll;
    list-style: none;
    max-height: 600px;
}
.forum-nav-browse-menu {
    font-size: 14px;
    list-style: none;
}
.forum-nav-browse-title {
    text-align: left;
    display: block;
/*    width: 100%;*/
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-radius: 0;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px;
    background: transparent;
    background-image: none;
    box-shadow: none;
    background-image: none;
    cursor: pointer;
}
.forum-nav-thread-list {
    padding-left: 0 !important;
    min-height: 60px;
/*    max-height: 800px;*/
    border-bottom: 1px solid #e7e7e7;
    margin: 0;
    overflow-y: auto;
    list-style: none;
    border-radius: 0 0 3px 3px;
}
.forum-nav-thread-list-limit {
  max-height: 800px;
}
.forum-nav-thread {
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    margin-bottom: 0;
}
.forum-nav-thread .forum-nav-thread-link {
    border-left: 3px solid transparent;
    display: flex;
    padding: 10px;
    transition: none;
    align-items: center;
    justify-content: space-between;
    color: #414141;
}
.forum-nav-thread-wrapper-0 {
    margin-right: 4px;
    align-self: flex-start;
}
.forum-nav-thread-wrapper-0, .forum-nav-thread-wrapper-1, .forum-nav-thread-wrapper-2 {
    display: inline-block;
    vertical-align: middle;
}
.forum-nav-thread-wrapper-1 {
    margin: 0 5px;
    max-width: calc(100% - 75px);
    flex-grow: 1;
}
.forum-nav-thread-wrapper-0, .forum-nav-thread-wrapper-1, .forum-nav-thread-wrapper-2 {
    display: inline-block;
    vertical-align: middle;
}
.forum-nav-thread-title {
    margin-left: 0;
    font-size: 14px;
    display: block;
}
.forum-nav-thread-list .thread-preview-body {
    margin-top: 5px;
    color: #414141;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.forum-nav-thread-wrapper-2 {
    text-align: right;
    min-width: 40px;
    white-space: nowrap;
}
.forum-nav-thread-votes-count:last-child, .forum-nav-thread-comments-count:last-child {
    margin-right: 0;
}
.forum-nav-thread-comments-count {
    position: relative;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 2px 4px;
    min-width: 2em;
    background-color: #e7e7e7;
}
.forum-nav-thread-votes-count, .forum-nav-thread-comments-count {
    margin-right: 5px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    color: #000;
}
.discussion-column {
    margin-left: 20px;
    min-height: 500px;
    margin-bottom: 0;
    width: 75%;
}
.discussion-column {
    flex-grow: 1;
    margin-bottom: 20px;
}
.discussion-body .discussion-article, .discussion-module .discussion-article {
    position: relative;
}
.discussion-post {
    padding: 0 10px;
}
.discussion-post .post-header-content {
    max-width: calc(100% - 100px);
}
.discussion-post .post-header-content .post-title {
    font-size: 21px;
    margin-bottom: 5px;
}
.discussion-body .discussion-article a, .discussion-module .discussion-article a, .discussion-body .discussion-article p, .discussion-module .discussion-article p {
    word-wrap: break-word;
}
.discussion-article .posted-details {
    margin: 4px 0;
    color: #414141;
}
.discussion .action-button .action-label, .discussion .actions-dropdown .action-list-item, .view-discussion-home .label, .view-discussion-home .home-description, .view-discussion-home .home-stats .stats-grouping .profile-stat, .discussion-article .posted-details, .discussion-comment .response-body, .discussion-post .post-context, .discussion .post-actions-list, .discussion .response-actions-list, .discussion .comment-actions-list {
    line-height: 17.76px;
    font-size: 12px;
}
.discussion-response .response-body, .discussion-post .post-body, .discussion .action-button .action-label, .discussion .actions-dropdown .action-list-item, .view-discussion-home .label, .view-discussion-home .home-description, .view-discussion-home .home-stats .stats-grouping .profile-stat, .discussion-article .posted-details, .discussion-comment .response-body, .discussion-post .post-context, .discussion .post-actions-list, .discussion .response-actions-list, .discussion .comment-actions-list {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.discussion .post-label, .discussion-article .posted-details, .discussion-post .post-context {
    font-weight: 300;
}
.discussion-article .posted-details .timeago, .discussion-article .posted-details .top-post-status {
    color: inherit;
}
.discussion-article .posted-details .username {
    display: inline;
}
.discussion-article .posted-details .username {
    font-weight: 600;
}
.discussion-body .discussion-article a, .discussion-module .discussion-article a, .discussion-body .discussion-article p, .discussion-module .discussion-article p {
    word-wrap: break-word;
}
.discussion-post .post-body {
    padding: 10px 0;
    max-width: calc(100% - 100px);
}
.discussion-response .response-body, .discussion-post .post-body {
    line-height: 20.72px;
    font-size: 14px;
}
.discussion-response .response-body, .discussion-post .post-body, .discussion .action-button .action-label, .discussion .actions-dropdown .action-list-item, .view-discussion-home .label, .view-discussion-home .home-description, .view-discussion-home .home-stats .stats-grouping .profile-stat, .discussion-article .posted-details, .discussion-comment .response-body, .discussion-post .post-context, .discussion .post-actions-list, .discussion .response-actions-list, .discussion .comment-actions-list {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.discussion .post-actions-list, .discussion .response-actions-list, .discussion .comment-actions-list, .discussion .actions-dropdown, .discussion .responses, .discussion .comments {
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.discussion .responses .forum-response {
    animation: fadeIn 0.3s;
    position: relative;
    margin: 20px 0;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}
.discussion .post-actions-list li, .discussion .response-actions-list li, .discussion .comment-actions-list li, .discussion .actions-dropdown li, .discussion .responses li, .discussion .comments li, .discussion .post-actions-list dt, .discussion .response-actions-list dt, .discussion .comment-actions-list dt, .discussion .actions-dropdown dt, .discussion .responses dt, .discussion .comments dt, .discussion .post-actions-list dd, .discussion .response-actions-list dd, .discussion .comment-actions-list dd, .discussion .actions-dropdown dd, .discussion .responses dd, .discussion .comments dd {
    margin: 0;
    padding: 0;
}
.discussion .responses .discussion-response {
    box-sizing: border-box;
    -webkit-border-top-left-radius: 3px;
    -moz-border-topleft-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-topright-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottomright-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottomleft-radius: 0;
    border-bottom-left-radius: 0;
    padding: 20px;
    background-color: #fff;
}
.discussion-response {
    min-height: 100px;
}
.discussion-article .response-header {
    line-height: 1 !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
.discussion-response .response-header-content {
    display: inline-block;
    vertical-align: top;
    width: flex-grid(11, 12);
}
.discussion .user-label-staff, .discussion .user-label-community-ta {
/*    color: #414141;*/
    font-size: 12px;
    white-space: nowrap;
}
.user-label-staff {
    font-size: 9px;
    vertical-align: middle;
    margin-left: 5px;
    border-radius: 2px;
    padding: 0 4px;
    background: #0078b0;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}
.discussion-response .response-body {
    padding: 10px 30px 0 0;
    margin-bottom: 0.2em;
    font-size: 14px;
}
.discussion-response .response-body, .discussion-post .post-body {
    line-height: 20.72px;
    font-size: 14px;
}
.discussion .comments {
    -webkit-border-top-left-radius: 0;
    -moz-border-topleft-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-topright-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottomright-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottomleft-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #f5f5f5;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.2) inset;
}
.discussion-comment .response-body {
    display: inline-block;
    margin-bottom: 10px;
    width: flex-grid(10, 12);
}
.discussion .comments > li {
    border-top: 1px solid #d9d9d9;
    padding: 10px 20px;
    position: relative;
}
.xblock-student_view-discussion {
    padding-top: 15px !important;
}
.discussion-module {
    display: block;
    position: relative;
    border-radius: 3px;
}
/*
.discussion-body, .discussion-module {
    display: flex;
    flex-direction: row-reverse;
}*/
.discussion-body, .discussion-module {
    width: 100%;
    border: none;
    background: transparent;
    box-shadow: none;
}
.zim-course-wrapper{
  background-color:#ffffff;
}
.zim-course-wrapper .zim-course-content .xblock, .zim-course-wrapper .courseware-results-wrapper .xblock {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.discussion-module .discussion-module-header {
    float: left;
    width: 57.62712%;
    margin-bottom: 15px;
    margin-left:15px;
}
.hd-3 {
    margin-bottom: 10px;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.4em;
}
.hd-1, .hd-2, .hd-3, .hd-4, .hd-5, .hd-6, .hd-7, .hd-8 {
    margin: 0;
        margin-bottom: 0px;
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    color: #474747;
}
.xblock .xblock h2 {
  font-weight: 600;
  text-transform: initial;
}
.hd-2, .xblock .xblock h2 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.4em;
}
.discussion-module .inline-discussion-topic {
    width: 100%;
    font-size: 12px;
}
.discussion-module .inline-discussion-topic .inline-discussion-topic-title {
    font-weight: bold;
}
.discussion-module .discussion {
    clear: both;
}
.discussion.inline-discussion .inline-threads {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}
.zim-list_course{
  background-color:#ffffff;
  width:auto;
  box-sizing: border-box;
  margin-left:2%;
  margin-right:2%;
  max-width: 100%;
}
.video-js{
	max-width:100%;
}
.show_answers_invalid{
  color:red;
}

.show_answers_valid{
  color:green;
}
.xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover, .xmodule_display.xmodule_CapaModule div.problem .choicetextgroup label:hover {
    border: 2px solid #0078b0;
}
.xmodule_display.xmodule_CapaModule div.problem .choicegroup label, .xmodule_display.xmodule_CapaModule div.problem .choicetextgroup label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    clear: both;
    margin-bottom: 10px;
    border: 2px solid #e3e3e3;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}
form.choicegroup label, .xmodule_display.xmodule_CapaModule div.problem form.choicetextgroup label, .xmodule_display.xmodule_ConditionalModule div.problem form.choicetextgroup label {
    clear: both;
    float: left;
}
label {
	cursor: pointer;
	color: #3c3c3c;
	font: italic 300 1rem/1.6rem "Droid Arabic Naskh","Open Sans",sans-serif;
        font-style: italic;
        font-weight: 300;
        font-family: "Droid Arabic Naskh", "Open Sans", sans-serif;
	margin-bottom: 5px;
	text-shadow: 0 1px rgba(255,255,255,0.4);
	box-sizing: border-box;
	display: inline-block;
	clear: both;
	margin-bottom: 10px;
	border: 2px solid #e3e3e3;
	border-radius: 3px;
	padding: 10px;
	width: 100%;
}
label:hover {
    border: 2px solid #1ca3a6;
}
fieldset{
    border:none;
}
.forum-nav-thread-list, .forum-nav-thread-labels {
    margin: 0;
    padding-left: 0;
}
.post-label-pinned {
    font-size: 9px;
    line-height: 19px;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-radius: 3px;
    padding: 0 6px;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #b62567;
    color: #b62567;
}
.post-label-by-staff:last-child {
    margin-left: 0;
}
.post-label-by-staff{
    font-size: 9px;
    line-height: 19px;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-radius: 3px;
    padding: 0 6px;
    text-transform: uppercase;
    white-space: nowrap;
    border-color: #0078b0;
    color: #0078b0;
}
.handouts-header {
    text-align: left;
    margin-bottom: 0;
    padding: 12px 26px 10px 0;
    font-size: 16px;
    font-weight: 600;
}
div.zim-book-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}
div.zim-book-wrapper section.zim-book-sidebar {
    box-sizing: border-box;
    padding: 10px 0;
    border-radius: 3px 0 0 3px;
    border: 1px solid #d3d5d4;
        border-right-color: rgb(211, 213, 212);
        border-right-style: solid;
        border-right-width: 1px;
    border-right: none;
    width: 180px;
}
.sidebar, div#wiki_panel, div.zim-info-wrapper section.handouts, div.zim-book-wrapper section.zim-book-sidebar, .profile-wrapper .user-info {
    box-sizing: border-box;
    display: table-cell;
    font-family: "Source Sans Pro","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    font-size: 14px;
    position: relative;
    vertical-align: top;
    width: 23.72881%;
    background: #FBFFFD;
}
#zim-booknav {
    list-style: none;
}
.sidebar ul, div#wiki_panel ul, div.zim-info-wrapper section.handouts ul, div.zim-book-wrapper section.zim-book-sidebar ul, .profile-wrapper .user-info ul, .sidebar ol, div#wiki_panel ol, div.zim-info-wrapper section.handouts ol, div.zim-book-wrapper section.zim-book-sidebar ol, .profile-wrapper .user-info ol {
    margin: 0;
    padding-left: 0;
}
div.zim-book-wrapper section.zim-book-sidebar #zim-booknav > li {
    padding: 5px 6px;
    margin: 5px 10px;
}
div.zim-book-wrapper section.zim-book-sidebar #zim-booknav li {
    background: none;
    border-bottom: 0;
    padding-left: 10px;
}
div.zim-book-wrapper section.zim-book-sidebar #zim-booknav .zim-chapter {
    line-height: 1.4em;
}
div.zim-book-wrapper section.zim-book-sidebar #zim-booknav li a {
    padding: 0;
    color: #4F7573;
}
.sidebar ul li a, div#wiki_panel ul li a, div.zim-info-wrapper section.handouts ul li a, div.zim-book-wrapper section.zim-book-sidebar ul li a, .profile-wrapper .user-info ul li a, .sidebar ol li a, div#wiki_panel ol li a, div.zim-info-wrapper section.handouts ol li a, div.zim-book-wrapper section.zim-book-sidebar ol li a, .profile-wrapper .user-info ol li a {
    display: block;
    line-height: 1.41575em;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0.35394em 0.70788em 0.35394em 0;
}
.sidebar a, div#wiki_panel a, div.zim-info-wrapper section.handouts a, div.zim-book-wrapper section.zim-book-sidebar a, .profile-wrapper .user-info a {
    border: none;
    font-style: normal;
}
div.zim-book-wrapper .zim-book {
    padding: 0;
    width: 76%;
}
.zero-message {
    text-align: center;
    margin-left: auto;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: 15px;
    color: #494949;
}
#zim-course-content{
	width:100%;
}

.noanswers {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border: 1px solid transparent;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.not_available {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    border: 1px solid transparent;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}



















@media (max-width: 640px) {
  .zim-course-index, .zim-courseware{
    display:none;
  }
  section.zim-updates {
    box-sizing: border-box;
    display: block;
    padding: 1em 1em;
    vertical-align: top;
    width: 76.27119%;
    max-width: 100%;
  }
  .wiki-wrapper section.wiki .article-functions {
    float: left;
    width: 50%;
  }

  div.zim-course-wrapper section.zim-course-content {
	display: block;
	width:100%;
	max-width:100%;
  }
  #zim-course-content{
    padding:2em 0.5em;
  }
  .zim-topmobilebar{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin:5px 0;
    font-size: 28px;
  }
  #zim-show_pagemobilemenu {
    padding: 0.3em;
  }
  #zim-show_sidemenu{
    padding: 0.3em;
  }
  .zim-course-index{
    width:100%;
    position:sticky;
    z-index:1;

  }
  ol.zim-course-tabs li {
    text-align:center;
    width:100;
    position:sticky;
    z-index:1;
    float:none;
    padding: 0.3em;
  }
  .discussion-post .post-body {
    padding: 10px 0;
    max-width: 100%;
  }
  .discussion-post .post-header-content{
    max-width: 100%;
    width:100%;
  }
  .forum-nav {
   display:none;
    max-width:100%;
    width:100%;
  }
  .page-content {
      padding: 8px;
  }
  .zim-book{
      display:none;
  }
}

/*
@media (min-width: 640px) {

}*/
