from .base_xblock import BaseXblock
from ..utils import jinja

class Example(BaseXblock):
    def __init__(self, xblock_json, relative_path, root_url, id, descendants, scraper):
        super().__init__(xblock_json, relative_path, root_url, id, descendants, scraper)

    def download(self, instance_connection): #You do what ever you want to offline your xblocks
      return

    def render(self): #You should return html that can we integrate in an html page (using vertical xblock)
            return jinja(
                None,
                "example.html",
                False,
                example=self
            )
