<h3 class="problem-title"> {{ dragdrop_content["title"] }} </h3>
<div class="problem-progress"> {{ dragdrop_content["weighted_max_score"] }} points {% if dragdrop_content["graded"] %} graded {% else %} ungraded {% endif %} </div>
<div class="problem"><p> {{ dragdrop_content["problem_text"] }} </p></div>
<div class="drag-container">
  <div class="ui-drappable">
    {% for item in dragdrop_content["items"] %}
      <div class="option fade dragdrop-item" style="{% if dragdrop_content["item_background_color"] %} background-color:{{ dragdrop_content["item_background_color"] }}; {% endif %} {%if dragdrop_content["item_text_color"] %} text-color:{{ dragdrop_content["item_textcolor"] }}; {% endif %} width:{{ item["widthPercent"] }}; ">
        <div class="item-content">
          <img src="{{ item["expandedImageURL"] }}" alt="{{ item["imageDescription"] }}"/>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="target">
  <div class="target-img-wrapper">
    <img class="target-img" src="{{ dragdrop_content["target_img_expanded_url"] }}" alt="{{ dragdrop_content["target_img_description"] }}" />
  </div>
</div>
<p> Sorry, you cannot drag and drop item or check answers offline</p>

