          <div id="{{ problem.problem_id }}">
            {% if not problem.answers %}
		<div class="noanswers">
          		<p data-l10n-id="no_answers_for_problem" >  <b> Warning : </b> There is not automatic correction available for this problem. </p>
	        </div>
            {% endif %}
            {{ problem.html_content }}
          </div>
          {% if problem.has_hint %}
            <script>
              problem_hint_array["{{ problem.problem_id }}"] = [ {% for ans in problem.hint %}"{{ ans }}", {% endfor %} ];
            </script>
            <div class="notification problem-hint notification-hint is-hidden" tabindex="-1" hint_index="0" style="display:none;" id="hint-{{ problem.problem_id }}">
                <span class="icon fa fa-question" aria-hidden="true"></span>

                <span class="notification-message"><ol><li class="hint-index-0" tabindex="-1" id="hint-content-{{ problem.problem_id }}"></li></ol></span>
                <div class="notification-btn-wrapper">
                  <button type="button" class="btn btn-default btn-small notification-btn hint-button" disabled="disabled" id="hint-next-{{ problem.problem_id }}">Next Hint</button>
                </div>
            </div>
            <button type="button" class="hint-button problem-action-btn btn-default btn-small" data-value="Hint" onclick="problem_hint('{{ problem.problem_id }}')"><span class="icon fa fa-question" aria-hidden="true"></span>Hint</button>
          {% endif %}
          {% if problem.answers %}
            <script>
              problem_answers_array["{{ problem.problem_id }}"]=[ {% for ans in problem.answers %}"{{ ans }}", {% endfor %} ]; 
              problem_explanation_array["{{ problem.problem_id }}"]={ {% for ans in problem.explanation %} "{{ ans["name"] }}" : "{{ ans["value"] }}" , {% endfor %} };
            </script>
            <button onclick="problem_check_answers('{{ problem.problem_id }}')">Check answers</button> 
            <button onclick="problem_show_answers('{{ problem.problem_id }}')">Show answers and explanation</button> 
          {% endif %}
