{% extends "base.html" %}

{% block addcss %}
{% if rtl %}
<link href="{{ rooturl }}assets/thread_rtl.css" rel="stylesheet" type="text/css" />
{% else %}
<link href="{{ rooturl }}assets/thread_ltr.css" rel="stylesheet" type="text/css" />
{% endif %}
{% endblock %}
{% block bodyclass %}thread container{% endblock %}

{% block title %}{{ thread["title"] }}{% endblock %}

{% block body %}
  <div style="padding:2%">
    <h1> {{ thread["title"] }}</h1>
    {% set post = thread %}
    {% include "post.html" %}
    {% for ans in thread["data_thread"]["content"]["endorsed_responses"] %}
      {% set post = ans %}
      {% include "post.html" %}
    {% endfor %}
    {% for ans in thread["data_thread"]["content"]["non_endorsed_responses"] %}
      {% set post = ans %}
      {% include "post.html" %}
    {% endfor %}
  </div>
{% endblock %}
