{% extends "base.html" %}


{% block title %}
{{ vertical.display_name }}
{% endblock %}


{% block addhead %}
<script type="text/javascript" src="{{ rooturl }}assets/xblocks.js"></script>
{% for header_element in extra_headers %}
{{ header_element }}
{% endfor %}
{% endblock %}


{% block bodyclass %}
vertical
{% endblock %}


{% block body %}
<div class="zim-container">
  <div class="zim-course-wrapper" role="presentation">
    {% if side_menu %}
        {% include "side_menu.html" %}
    {% endif %}
    <section id="course-content" class="zim-course-content" role="main" aria-label="Content">
      <div class="xblock xblock-student_view xblock-student_view-sequential xmodule_display xmodule_SequenceModule xblock-initialized" data-runtime-class="LmsRuntime" data-init="XBlockToXModuleShim" data-block-type="sequential" data-usage-id="{{ vertical.xblock_json["id"] }}" data-type="Sequence" data-course-id="{{ mooc.course_id }}">
        <div id="sequence_{{ extracted_id }}" class="sequence" data-id="{{ vertical.xblock_json["id"] }}" data-position="1">
          {% if not remove_seq_nav %}
          <div class="zim-sequence-nav">
              {% if prev_vertical %}
              <a href="{{ rooturl }}{{ prev_vertical.relative_path }}/index.html" title="{{ prev_vertical.display_name }}">
                <button class="zim-sequence-nav-button button-previous">
              {% else %}
                <button class="zim-sequence-nav-button button-previous deactivated">
              {% endif %}
                  <i class="icon fa fa-chevron-left" aria-hidden="true"></i>
                  <span class="sr">Previous</span>
                </button>
              {% if prev_vertical %}
              </a>
	            {% endif %}
            <nav class="zim-sequence-list-wrapper" aria-label="Sequence">
              <ol id="zim-sequence-list" role="tablist">
              {% for vertical_ in sequential.descendants %}
                <li {% if vertical_.id == vertical.id %} class="current_vertical" {% endif %}>
                  <a id="tab_0" tabindex=0 data-id="{{ vertical_.xblock_json["id"] }}" data-page-title="{{ vertical_.display_name }}" href="{{ rooturl }}{{ vertical_.relative_path }}/index.html" title="{{ vertical_.display_name }}">
                    <i class="icon fa {{ vertical_.icon_type }}" aria-hidden="true"></i>
                  </a>
                </li>
              {% endfor %}
              </ol>
            <div class="left-shadow" style="opacity: 0;"></div>
            <div class="right-shadow" style="opacity: 0;"></div>
            </nav>
                {% if next_vertical %}
                <a href="{{ rooturl }}{{ next_vertical.relative_path }}/index.html" title="{{ next_vertical.display_name }}">
                  <button class="zim-sequence-nav-button button-next">
                {% else %}
                  <button class="zim-sequence-nav-button button-next deactivated">
                {% endif %}
                  <span class="icon fa fa-chevron-right" aria-hidden="true"></span>
                  <span class="sr">Next</span>
                </button>
                {% if next_vertical %}
                </a>
		            {% endif %}
          </div>
          {% endif %}
          <div class="window-wrap">
          <div class="container">
            <div class="course-wrapper" role="presentation">
            <section id="course-content" class="course-content" role="main" aria-label="Content">
            <main id="main" tabindex="-1" aria-label="Content">
            <div id="seq_content">
            <div class="xblock xblock-student_view xblock-student_view-vertical xblock-initialized">
              <h2 class="hd hd-2 unit-title"> {{ vertical.xblock_json["display_name"] }} </h2>
              <div class="vert-mod">
              {% for elem in vertical_content %}
              {{ elem }}
              {% endfor %}
              </div>
            </div>
            </div>
            </main>
            </section>
            </div>
          </div>
          </div>
          <nav class="zim-sequence-bottom" aria-label="Section">
            {% if prev_vertical %}
            <a href="{{ rooturl }}{{ prev_vertical.relative_path }}/index.html" title="{{ prev_vertical.display_name }}">
              <button class="zim-sequence-nav-button button-previous">
                <i class="icon fa fa-chevron-left" aria-hidden="true"></i>
              </button>
            </a>
            {% else %}
              <button class="zim-sequence-nav-button button-previous deactivated">
                <i class="icon fa fa-chevron-left" aria-hidden="true"></i>
              </button>
            {% endif %}
            {% if next_vertical %}
            <a href="{{ rooturl }}{{ next_vertical.relative_path }}/index.html" title="{{ next_vertical.display_name }}">
              <button class="zim-sequence-nav-button button-next">
                <i class="icon fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            </a>
            {% else %}
              <button class="zim-sequence-nav-button button-next deactivated">
                <i class="icon fa fa-chevron-right" aria-hidden="true"></i>
              </button>
            {% endif %}
          </nav>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}


{% block body_end %}
{% for elem in extra_content %}
{{ elem }}
{% endfor %}
<!-- workaround to simulate sequential content change behaviour as some custom JS may depend on this
     we do this as our seq_content is static (as we have HTML at vertical level) but seq_content on instances 
     is not static (as they have HTML at sequential level) -->
<script type="text/javascript">
function trigger_seq_content_change_behaviour(){
  $('#seq_content').append("<div id='dummy_div'></div>");
  $('#dummy_div').remove();
}

$(window).load(function(){
  trigger_seq_content_change_behaviour();
});
</script>
{% endblock %}
