{% if self.no_video != False %}
<video class="video video-js vjs-default-skin" 
  controls preload="auto"
  width="480px" height="270px"
  data-setup='{"techOrder": ["html5", "ogvjs"], "ogvjs": {"base": "{{ path_to_root }}assets/ogvjs"}, "autoplay": {% if autoplay %}true{% else %}false{% endif %}, "preload": true, "controls": true, "controlBar": {"pictureInPictureToggle":false}}'>
  <source src="{{ video_path }}" type="video/{{ format }}" />
  {% for language in subs %}
    <track kind="subtitles" src="{{ language["file"] }}" srclang="{{ language["code"] }}" label="{{ language["code"] }}" />
  {% endfor %}
</video>
{% else %}
  <p> Sorry this video has not been downloaded </p>
{% endif %}
